doctype html
html
	head
		meta(http-equiv="Content-type", content="text/html; charset=utf-8")
		if htmlWebpackPlugin.options.mobile
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{htmlWebpackPlugin.options.title}
		block head
	body
		<div id="#{htmlWebpackPlugin.options.appMountId}"></div>
